*{
    font-size: 20px;
    padding: 0px;
    margin: 0px;

}
.primeiro{

    padding: 10px 20px 30px 40px;
}
.segundo{
    border: solid 10px blue;
    margin:10px 20px 30px 40px ;
    margin-top: 10px ;
    margin-right:20px ;
    margin-bottom:30px ;
    margin-left: 40px;
}