.container{
    height: 600px;
    width: 800px;
    margin: 25px auto;
    border: dotted 3px purple;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "header header header header header"
    "aside main main main main"
    "aside main main main main"
    "aside section section section section"
    "footer footer footer footer footer"
    ;
}
    

.a1{
    grid-area: header;
    background-color: aqua;
}
.a2{
    grid-area: aside;
    background-color: crimson;
}
.a3{
    grid-area: main;
    background-color: coral;
}
.a4{
    grid-area: section;
    background-color: chartreuse;
}
.a5{
    grid-area: footer;
    background-color: darkmagenta;
}

 