h1{
    color: blue;
    text-align: center;
    line-height: 200%;
    text-shadow:5px 10px 10px #2994FF;
    font-style: italic;
}
p{ 
     color: brown;
    line-height: 100%;
    font-size: initial;
    text-align: center;
    line-height: 80%;
}
P{
    color: brown;
    line-height: 100%;
    font-size: initial;
    text-align: center;
    line-height: 80%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: rgb(0, 255, 221);
    font-size: 20px;
}

